/x2.wav
/x2.mid
/x1.wav
/x.wav
/x.mid
/venv
/Timbre.sf2
/testoftime.py
/test3.mid
/test2.mid
/test1.pyc
/test1.py
/star6.mid
/star6.flac
/star5.flac
/star3.mid
/star3.flac
/star2.mid
/star1
/star.mid
/star
/songwriter.py
/requirements-humming-to-notes.txt
/pianotry.sf2
/percussionsoundtest.py
/norepeatmusictheory.pyc
/newmusictheory.pyc
/newmusictheory.py
/musictheory.pyc
/musictheory.py
/musicdeterminationdemo.pyc
/musicdeterminationdemo.py
/latestmusic.pyc
/latestmusic.py
/kivytest.pyc
/kivytest.py
/instrumenttest.py
/instrumenttest.mid
/HS M1 Drums.sf2
/goodtry.sf2
/firstmusicdemo.py
/first.kv
/finalpercussion.pyc
/finalpercussion.py
/combo.wav
/combo.mp3
/audio_to_midi_melodia.pyc
/templates/.DS_Store
/.idea/*
/.idea/musictest-web.iml
musicpiece*
**/.DS_Store
/.DS_Store
